/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Heading------------------------------------- */
body {
  background-color: rgb(255, 255, 255);
}

.heading {
  display: flex;
  align-items: baseline;
  margin: 3rem 1.5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 3rem;
}

.nav-list.two {
  margin-top: 2rem;
}

.page-title, .nav-item, .paragraph, .subject-list, .theorem, .qed, .list {
  font-family: 'Roboto Mono', monospace, sans-serif;
}

.page-title{
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-item {
  color: rgb(141, 141, 141);
  text-decoration: none;
  font-size: .9rem;
  font-weight: 800;
}

.nav-item:hover, .math-links:hover {
  color: black;
  background-color: antiquewhite;
  font-weight: 900;
}

.page {
  max-width: 33rem;
}

.paragraph {
  margin: 1rem 0;
  font-size: .9rem;
  line-height: 1.6;
}

/* math page -------------------------------------*/

.subjects {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 11rem 11rem;
  margin-top: 1rem;
}

li{
  margin-bottom: 1rem;
}

.math.page {
  max-width: 60vw;
}

.math-links {
  color: rgb(104, 104, 104);
  text-decoration: none;
  padding: .5rem 0;
  font-size: .8rem;
}

.problem-list{
  padding: 1rem 0;
}

.math-item {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.bold-def {
  font-weight: bold;
}

.definition {
  max-width: 42rem;
  background-color: aliceblue;
  margin: 2rem 0;
  display: none;
  overflow: hidden;
  padding: 1rem;
  transition: background-color 0.8s ease;
}

.problem-page{
  max-width: 42rem;
}

.proof{
  color: red;
}

.qed {
  text-align: right;
}

ol li {
  list-style-type:decimal;
  list-style-position: inside;
}

ol {
  margin-left: 2em;
}

.size {
  max-width: 50rem;
  background-color: aliceblue;
  margin: 2rem 0;
  font-weight: 500;
}

.active, .definition:hover {
  background-color: antiquewhite;
  transition: background-color 1s ease;
}

.definition:hover .bold-def {
  font-size: 1rem;
  transition: font-size .5s ease;
}

.definition-btn{
  background-color: white;
  border-style: solid;
  border-radius: .5rem;
  margin: .5rem 1rem;  
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.defintion-btn:active{
  background-color: black;
}

.definition-btn:after {
  font-family: "FontAwesome";
  content: ' \f0da';
  color: black;
}

.active:after{
  content: '  \f0d7';
  color: grey;
}

.definition-btn:hover{
  background-color: antiquewhite;
  box-shadow: 2px 2px 5px 2px rgb(167, 167, 167);
  transition: background-color 0.5s ease;
}

.solution {
  display: none;
  overflow: hidden;
}

.example {
  background-color: rgb(217, 243, 212);
  transition: background-color .8s ease;
  display: none;
  overflow: hidden;
  padding: 1rem;
}

.example:hover{
  background-color: rgb(231, 255, 226);
  transition: background-color 1s ease;
}

.example:hover script{
  scale: 1.5;
  transition: scale 1s ease;
}






/* body {
  background-color: rgb(221, 221, 221);
  display: flex;
}

.nav {
  overflow-x: auto;
  transition: opacity 0.2s, transform 0.2s;
  width: 8.75rem;
}

.nav-item {
  font-family: 'Roboto Mono', monospace, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: inline-block;
  margin: 0 5px;
  display: inline-block;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin: 4rem .5rem;
} */



